body{
    background-image:url(fundo.jpg);
    background-color: black;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

hr{
   color: aqua
}

h1{
    color: red
}